		body{
		display: flex;
    min-height: 100vh;
    flex-direction: column;
		}
        a:active {
            background: black;
        }
        
        .side-nav .collapsible-header:hover,
        .side-nav.fixed .collapsible-header:hover {
            background-color: #eceff1;
        }
        
        #sidenav-overlay {
            background-color: transparent;
        }
        
        .heading {
           /*  margin-left: 37%; */
        }
        
        th,
        td {
            width: 5%;
        }
        
        div.brand-logo {
            padding-left: 10px;
        }
        
        .paddingBody {
            padding-left: 252px;
        }
        /*css for side nav hide/show start*/
        
        .reveal-open {
            max-width: 60px !important;
            /*max-height: 100px !important;*/
            /*margin-top: 62px;*/
        }
        
        .side-nav {
            /* overflow given to give effect of half hiding side nav */
            /*overflow: hidden;*/
            max-width: 250px;
            /* to give effect of sliding of side navbar */
            -webkit-transition: max-width .2s linear;
            -moz-transition: max-width .2s linear;
            transition: max-width .2s linear;
        }
        /* to give padding to body after side nav is half closed */
        
        .intro {
            padding-left: 70px;
        }
        /*for display button over sidebar*/
        
        .side-nav.fixed {
            left: 0;
            top: 68px;
            -webkit-transform: translateX(0);
            transform: translateX(0);
            position: fixed;
            z-index: 100;
        }
        /*css for logo collapse*/
        
        #logo-collapse {
            display: none;
        }
        
        #logo-collapse-full {
            display: visible;
        }
        /*css for side nav hide/show end*/
        /*css for transalte the buton along with side nav*/
        
        .sidebutton {
            transform: translateX(-190px) rotate(180deg);
            /*transform: rotate(180deg);*/
            transform-origin: right left;
        }
        
        .btn-floating.btn-large {
            width: 43px;
            height: 43px;
        }
        
        nav ul a.btn-floating>.material-icons {
            height: inherit;
            line-height: 1.8;
        }
        /*css for gradient nav bar*/
        
        nav {
            /*height: 100px;*/
            /*background-color: red;*/
            background-image: linear-gradient( to right, #212121, #263238, #607d8b);
        }
        
        .greycolor {
            background-color: #eceff1;
        }
        
        @media only screen and (max-width: 992px) {
            nav {
                background-color: white;
                background-image: linear-gradient( to right, #212121, #263238, #607d8b);
            }
        }
        
        @media only screen and (max-width: 600px) {
            nav {
                background-color: white;
                background-image: linear-gradient( to right, #212121, #263238, #607d8b, #b0bec5);
            }
        }
        
       /*  .modal {
            display: none;
            position: fixed;
            left: 0;
            right: 0;
            background-color: #fafafa;
            padding: 0;
            max-height: 100%;
            width: 90%;
            margin: auto;
            overflow-y: auto;
            border-radius: 2px;
            will-change: top, opacity;
        } */
        /*Scroll bars*/
        
         ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }
        
         ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background-color: #F5F5F5;
            border-radius: 10px;
        }
        
         ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #3498ce;
            background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
        }
        
        .side-nav {
            width: 250px;
            opacity: 1;
        }
        
        .side-nav .collapsible-body li a,
        .side-nav.fixed .collapsible-body li a {
            padding: 0 16px;
        }
        
        .side-nav li>a {
            color: rgba(0, 0, 0, 0.87);
            display: block;
            font-size: 16px;
            font-weight: 500;
            height: 48px;
            line-height: 48px;
            padding: 0 16px;
        }
        
        .collapsible-header {
            min-height: 48px !important;
        }
        
        .select2-container {
            box-sizing: border-box;
            display: inline-block;
            margin-top: 20px;
            position: relative;
            vertical-align: middle;
        }
        /*table style start*/
        
        .pdfButton,
        .excelButton,
        .printButton,
        .pageLengthButton,
        .colvisButton {
            background-image: linear-gradient(to bottom, transparent 0%, transparent 100%) !important;
            z-index: 1;
            border: none !important;
            padding: 0.3em 1em !important;
            margin-bottom: 1%;
            height: 28px !important;
            font-size: 14px !important;
        }
        
        div.dt-buttons {
            position: relative;
            float: left;
            margin-top: 4%;
            margin-left: 25%;
        }
        
        .dt-button-collection {
            margin-top: -43%;
            margin-left: 20%;
            transform-origin: 5%;
        }
        
        div.dt-button-collection.fixed {
            position: fixed;
            top: 38% !important;
            left: 55% !important;
            margin-left: -75px;
            border-radius: 0;
        }
        /*for pdf,excel buttons text and icons font-size*/
        
        .dt-buttons span i,
        .dt-buttons span {
            font-size: 12px !important;
        }
        /*.pdfButton {
    margin-left: 10%;
}*/
        /*.pageLengthButton {
    padding: 0.6em 1em !important;
}*/
        
        .dataTables_wrapper {
            position: relative;
            clear: both;
            zoom: 1;
            margin-top: -3%;
            margin-left: 1%;
        }
        /*css for length (display records)*/
        
        #tblData_length.dataTables_length {
            width: 9% !important;
            margin-top: 30px !important;
            /*margin-left: 1% !important;*/
        }
        
        #tblData_length.dataTables_length .select-wrapper input.select-dropdown {
            position: relative;
            cursor: pointer;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            outline: none;
            height: 1.5rem;
            line-height: 1rem;
            width: 100%;
            font-size: 1rem;
            margin: 0 0 0 0;
            padding: 0;
            display: block;
        }
        /*.dataTables_wrapper .dataTables_ length {
    width: 11% !important;
}*/
        
        table.dataTable.no-footer {
            border-bottom: none !important;
            margin-left: 0;
            margin-right: 0;
        }
        /*to overcome space of cells-start*/
        
        table.dataTable tbody td {
            padding: 3px 8px !important;
        }
        
        table.dataTable thead th,
        table.dataTable thead td {
            padding: 3px 8px !important;
            border-bottom: none !important;
        }
        /*to overcome space of cells-end*/
        
        table,
        td,
        th {
            border: 1px solid #9e9e9e !important;
            font-size: 13px;
            /*border-width: 1px;*/
        }
        
        tbody tr:hover {
            background-color: #eceff1 !important;
            z-index: 2;
        }
        
        div.dataTables_filter {
            margin: 0% 1%;
        }
        
        div.dataTables_filter input {
            border: 1px solid black;
            border-radius: 10px;
            color: black;
        }
        
        div.dataTables_filter::before {
            font-family: "FontAwesome";
            content: "\f002";
            padding: 4px;
            padding-top: 0;
            display: none;
        }
        
        .dataTables_filter label {
            color: transparent;
        }
        /*div.dataTables_filter {
        margin: 0% 5%;
        color: #285685;
    }
    
    div.dataTables_filter::before {
        font-family: "FontAwesome";
        content: "\f002";
        padding: 4px;
    }*/
        
        input[type=search] {
            margin-top: 11%;
            margin-bottom: 0;
            border-bottom: none;
            height: 2rem;
            text-indent: 10px;
        }
        
        input[type=search]:focus {
            border-bottom: 1px !important;
            box-shadow: 0 1px 0 0 !important;
        }
        /*table style end*/
        
        .file-field .btn,
        .file-field .btn-large {
            float: left;
            height: 30px;
            line-height: 30px;
        }
        
        h3,
        h4,
        h5 {
            font-family: serif;
        }
        
        td a:hover {
            background-color: #e0e0e0;
        }
        
        i.right {
            float: right;
            margin-left: 5px;
        }
        
        a.brand-logo:hover {
            background-color: transparent;
        }
        
        a.button-collapse:hover {
            background-color: #78909c;
        }
        
        i.material-icons.prefix.active {
            color: #285685;
        }
        
        form {
            padding-left: 0px;
        }
        
        td button i.material-icons {
            font-size: 24px;
        }
        
        td .btn-flat {
            border: none;
            border-radius: 2px;
            display: inline-block;
            height: 36px;
            line-height: 36px;
            padding: 0 0;
            text-transform: uppercase;
            vertical-align: middle;
            -webkit-tap-highlight-color: transparent;
        }
        
        table [type="checkbox"].filled-in:not(:checked)+label:after {
            height: 15px;
            width: 15px;
            background-color: transparent;
            border: 1px solid #5a5a5a;
            top: 0px;
            z-index: 0;
        }
        
        table [type="checkbox"].filled-in:checked+label:after {
            top: 0;
            width: 15px;
            height: 15px;
            border: 1px solid black;
            background-color: transparent;
            z-index: 0;
        }
        
        table [type="checkbox"].filled-in:checked+label:before {
            top: 0;
            left: 1px;
            width: 6px;
            height: 10px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            -webkit-transform: rotateZ(37deg);
            transform: rotateZ(37deg);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 90% 80%;
        }
        
        th a {
            font-size: 15px;
        }
        
        th a:active {
            background: transparent;
        }
        
        .tabs {
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            height: 48px;
            width: 100%;
            background-color: #3498ce;
            margin: 0 auto;
            white-space: nowrap;
        }
        
        .tabs .tab a:hover,
        .tabs .tab a.active {
            background-color: #29b6f6;
            color: #ffffff;
        }
        
        .tabs .tab a {
            color: #eeeeee;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 24px;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            transition: color .28s ease;
        }
        
        .tabs .indicator {
            position: absolute;
            bottom: 0;
            height: 4px;
            background-color: #2196f3;
            will-change: left, right;
        }
        
        .card p {
            word-wrap: break-word;
        }
        
        @media only screen and (max-width: 992px) {
            .paddingBody {
                padding-left: 0px;
            }
            /*nav,
    header,
    main,
    footer {
        padding-left: 6%;
        padding-right: 0;
    }*/
            .tab {
                display: block;
                width: 100%;
                border-bottom: 1px solid #f0f0f0;
            }
            form {
                padding-left: 0px;
            }
            .side-nav {
                width: 250px;
                opacity: 1;
            }
            input[type=search] {
                margin-top: 6%;
                margin-bottom: 0;
                border-bottom: none;
                height: 2rem;
                text-indent: 10px;
            }
            a.brand-logo:hover {
                background-color: #78909c;
            }
            div.dt-button-collection.fixed {
                position: fixed;
                top: 28% !important;
                left: 69% !important;
                margin-left: -75px;
                border-radius: 0;
            }
        }
        
        main {
            flex: 1 0 auto;
            padding-right: 20px;
        }
        
        .blue.darken-5 {
            background-color: #0d3244 !important;
        }
        
        .blue.darken-6 {
            background-color: #395766 !important;
        }
        
        .blue.darken-7 {
            background-color: #074a5f !important;
        }
        
        .blue.darken-8 {
            background-color: #3498ce !important;
        }
        
        .blue.darken-9 {
            background-color: #1a4e6f !important;
        }
        
        .grey.darken-5 {
            background-color: #3b3b3b !important;
        }
        
        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 24px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
        input:not([type]):focus:not([readonly]),
        input[type=text]:focus:not([readonly]),
        input[type=password]:focus:not([readonly]),
        input[type=email]:focus:not([readonly]),
        input[type=url]:focus:not([readonly]),
        input[type=time]:focus:not([readonly]),
        input[type=date]:focus:not([readonly]),
        input[type=datetime]:focus:not([readonly]),
        input[type=datetime-local]:focus:not([readonly]),
        input[type=tel]:focus:not([readonly]),
        input[type=number]:focus:not([readonly]),
        input[type=search]:focus:not([readonly]),
        textarea.materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid #285685;
            box-shadow: 0 1px 0 0 #285685;
        }
        
        input:not([type]):focus:not([readonly])+label,
        input[type=text]:focus:not([readonly])+label,
        input[type=password]:focus:not([readonly])+label,
        input[type=email]:focus:not([readonly])+label,
        input[type=url]:focus:not([readonly])+label,
        input[type=time]:focus:not([readonly])+label,
        input[type=date]:focus:not([readonly])+label,
        input[type=datetime]:focus:not([readonly])+label,
        input[type=datetime-local]:focus:not([readonly])+label,
        input[type=tel]:focus:not([readonly])+label,
        input[type=number]:focus:not([readonly])+label,
        input[type=search]:focus:not([readonly])+label,
        textarea.materialize-textarea:focus:not([readonly])+label {
            color: #285685;
        }
        
        .select-dropdown li,
        .select-dropdown li>span,
        .select-dropdown li.optgroup {
            color: #285685;
            background-color: transparent;
        }
        
        .z-depth-2 {
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            height: 65px;
        }
        
        .picker__date-display {
            text-align: center;
            background-color: #285685;
            color: #fff;
            padding-bottom: 15px;
            font-weight: 300;
        }
        
        .picker__weekday-display {
            background-color: #224971;
            padding: 10px;
            font-weight: 200;
            letter-spacing: .5;
            font-size: 1rem;
            margin-bottom: 15px;
        }
        
        .picker__close,
        .picker__today {
            font-size: 1.1rem;
            padding: 0 1rem;
            color: #285685;
        }
        
        .picker__day--selected,
        .picker__day--selected:hover,
        .picker--focused .picker__day--selected {
            border-radius: 50%;
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            background-color: #285685;
            color: #ffffff;
        }
        
        .picker__day.picker__day--today {
            color: #285685;
        }