 <style>
        .responsive-img {
            /*height: 80% !important;*/
            /*position: relative;*/
        }
        /*.sectionDiv {
            margin-bottom: 0;
        }*/
        
        .blur {
            position: absolute;
            margin-top: 10%;
            margin-left: 8%;
            width: 45%;
            padding: 5%;
             /*default fallback */
            background: rgb(255, 255, 255) transparent;
            /* nice browsers */
            background: rgba(255, 255, 255, 0.9);
        }
        
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        
        .ourApproach {
            height: 400px !important;
        }
        
        footer .row {
            height: 205px !important;
        }
        
        @media only screen and (max-width:600px) {
            .zoomin img {
                margin-top: 20% !important;
                height: 100%;
                width: 100%;
                -webkit-transition: all 2s ease;
                -moz-transition: all 2s ease;
                -ms-transition: all 2s ease;
                transition: all 2s ease;
                position: relative;
            }
            footer .row {
                height: 430px !important;
            }
            .ourApproach {
                height: 600px !important;
            }
            .blur {
                /*transform: translate(0, -50%);*/
                position: relative;
                margin-top: 12;
                margin-left: 8%;
                width: 80%;
                padding: 5%;
                /* default fallback */
                background: rgb(255, 255, 255) transparent;
                /* nice browsers */
                background: rgba(255, 255, 255, 0.9);
            }
        }
        
        @media only screen and (max-width:992px) {
            .zoomin img {
                margin-top: 5%;
                height: 100%;
                width: 100%;
                -webkit-transition: all 2s ease;
                -moz-transition: all 2s ease;
                -ms-transition: all 2s ease;
                transition: all 2s ease;
                pointer-events: relative;
            }
            .blur {
                position: relative;
                margin-top: 12%;
                margin-left: 8%;
                width: 80%;
                padding: 5%;
                /* default fallback */
                background: rgb(255, 255, 255) transparent;
                /* nice browsers */
                background: rgba(255, 255, 255, 0.9);
            }
            footer .row {
                height: 230px !important;
            }
            /*.ourApproach {
                height: 430px !important;
            }*/
            .snip1482 {
                font-family: 'Fauna One', Arial, sans-serif;
                position: relative;
                float: left;
                margin: 10px 20px;
                min-width: 230px;
                max-width: 295px;
                min-height: 220px;
                width: 100%;
                color: #ffffff;
                text-align: right;
                line-height: 1.4em;
                background-color: #1a1a1a;
                font-size: 16px;
            }
            .snip1482 * {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
            }
            .snip1482 img {
                position: absolute;
                right: 0%;
                top: 50%;
                opacity: 1;
                width: 100%;
                -webkit-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
            }
            .snip1482 figcaption {
                font-size: 12px;
                position: absolute;
                width: 50%;
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                padding: 20px 0 20px 20px;
            }
            .snip1482 h6,
            .snip1482 p {
                margin: 0;
                width: 100%;
                -webkit-transform: translateX(20px);
                transform: translateX(20px);
                opacity: 0;
            }
            .snip1482 h6 {
                font-family: 'Playfair Display', Arial, sans-serif;
                text-transform: uppercase;
                margin-bottom: 5px;
            }
            .snip1482 p {
                font-size: 0.8em;
            }
            .snip1482 a {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
            }
            .snip1482 img,
            .snip1482 img {
                width: 55%;
                right: -10%;
            }
            .snip1482 h6,
            .snip1482 h6,
            .snip1482 p,
            .snip1482 figcaption p {
                -webkit-transform: translateX(0px);
                transform: translateX(0px);
                opacity: 1;
            }
            .parallax img {
                /*-webkit-filter: sepia(1);
            filter: sepia(1);*/
                -webkit-filter: grayscale(1);
                filter: grayscale(1%);
                position: relative;
            }
        }
        /*for features in mobile*/
        
        @media only screen and (min-width:993px) {
            .snip1482 {
                font-family: 'Fauna One', Arial, sans-serif;
                position: relative;
                float: left;
                margin: 10px 20px;
                min-width: 430px;
                max-width: 475px;
                min-height: 380px;
                width: 100%;
                color: #ffffff;
                text-align: right;
                line-height: 1.4em;
                background-color: #1a1a1a;
                font-size: 16px;
            }
            .snip1482 * {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
            }
            .snip1482 img {
                position: absolute;
                right: 0%;
                top: 50%;
                opacity: 1;
                width: 100%;
                -webkit-transform: translate(0%, -50%);
                transform: translate(-30%, -50%);
            }
            .snip1482 figcaption {
                position: absolute;
                width: 68%;
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                padding: 20px 0 20px 20px;
            }
            .snip1482 h6,
            .snip1482 p {
                margin: 0;
                width: 100%;
                -webkit-transform: translateX(20px);
                transform: translateX(20px);
                opacity: 0;
            }
            .snip1482 h6 {
                font-family: 'Playfair Display', Arial, sans-serif;
                text-transform: uppercase;
                margin-bottom: 5px;
            }
            .snip1482 p {
                font-size: 0.8em;
            }
            .snip1482 a {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
            }
            .snip1482 img,
            .snip1482 img {
                width: 65%;
                right: -60%;
            }
            .snip1482 h6,
            .snip1482 h6,
            .snip1482 p,
            .snip1482 figcaption p {
                -webkit-transform: translateX(0px);
                transform: translateX(0px);
                opacity: 1;
            }
        }
        
        .black darken-5 {
            background-color: #1a1a1a !important;
        }
        
        .frame {
            position: relative;
            display: inline-block;
            overflow: auto;
        }
        
        .zoomin img {
            height: 100%;
            width: 100%;
            -webkit-transition: all 2s ease;
            -moz-transition: all 2s ease;
            -ms-transition: all 2s ease;
            transition: all 2s ease;
        }
        
        .zoomin img:hover {
            /*width: 101%;
            height: 100%;*/
            -webkit-transform: scale(1.5);
            /* Safari and Chrome */
            -moz-transform: scale(1.5);
            /* Firefox */
            -ms-transform: scale(1.5);
            /* IE 9 */
            -o-transform: scale(1.5);
            /* Opera */
            transform: scale(1.5);
        }
        
        .parallax-container {
            position: relative;
            overflow: hidden;
            height: 660px;
            /*for background black effect*/
            /*background-color: rgba(0, 0, 0, 0.6);*/
        }
        
        .parallax img {
            /*-webkit-filter: sepia(1);
            filter: sepia(1);*/
            -webkit-filter: grayscale(1);
            filter: grayscale(1%);
        }
    </style>