body {
    font-size: 14px !important;
    /*for sticky footer*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#sidenav-overlay {
    position: unset;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    will-change: opacity;
}

main {
    flex: 1 0 auto;
}

a:active {
    background: transparent;
}


/*div.brand-logo {
     padding-left: 10px;
 }*/


/*top to scroll button start*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 8px 15px 8px 15px;
    /* Some padding */
    width: 45px;
    background-color: white;
    right: 50%;
}

#myBtn:hover {
    background-color: grey;
    /* Add a dark-grey background on hover */
}


/*top to scroll button end*/


/*Scroll bars*/

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3498ce;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}


/*css for gradient nav bar*/

nav {
    /*height: 100px;*/
    /*background-color: red;*/
    /*background-image: linear-gradient( to right, #212121, #263238, #607d8b);*/
    background-image: linear-gradient(#212121, #9e9e9e);
}

.greycolor {
    background-color: #eceff1;
}

.brand-logo {
    margin-left: 5%;
}

@media only screen and (max-width: 992px) {
    nav {
        background-color: white;
        background-image: linear-gradient( to right, #212121, #263238, #607d8b);
    }
    body {
        /*font-size: 14px !important;*/
        /*for sticky footer*/
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    .brand-logo {
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        background-color: white;
        background-image: linear-gradient( to right, #212121, #263238, #607d8b, #b0bec5);
    }
    body {
        /*font-size: 14px !important;*/
        /*for sticky footer*/
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    .brand-logo {
        margin-left: 0;
    }
}


/* css for contact cards in contact page */

.cardCss {
    position: relative;
    /*height: 100px;
    width: 300px;*/
    transition: box-shadow .25s;
    padding: 15px;
    margin-left: -45%;
    margin-top: 25%;
    border-radius: 2px;
    background-color: #fff;
    z-index: 100;
}

@media only screen and (max-width: 992px) {
    .cardCss {
        position: relative;
        /*height: 100px;
        width: 200px;*/
        transition: box-shadow .25s;
        padding: 0px;
        margin-left: -30%;
        margin-top: 20%;
        border-radius: 2px;
        background-color: #fff;
        z-index: 100;
    }
}

@media only screen and (max-width:600px) {
    .cardCss {
        position: relative;
        /*height: 60px;
        width: 150px;*/
        transition: box-shadow .25s;
        padding: 0px;
        margin-left: -25%;
        margin-top: 5%;
        border-radius: 2px;
        background-color: #fff;
        z-index: 100;
    }
}


/*for contact us map's div*/

.map-title {
    height: 450px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

#grad1 {
    background: #bdbdbd;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, #212121, #424242);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #212121, #424242);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #212121, #424242);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #212121, #424242);
    /* Standard syntax (must be last) */
}


/*.cardCss i {
     padding: 8px 19px 8px 19px;
     background-color: white;
     color: black
 }
 
 .cardCss i:hover {
     padding: 8px 19px 8px 19px;
     background-color: black;
     color: white;
 }*/


/*css for home page  start*/


/*tabs css*/

.tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 40px;
    width: 100%;
    background-color: transparent;
    margin: 0 auto 0 0;
    white-space: nowrap;
    /*border-radius: 50px;*/
}

.tabs .tab {
    display: inline-block;
    text-align: center;
    line-height: 38px;
    height: 38px;
    padding: 0;
    padding-right: 5%;
    margin: 0;
    text-transform: uppercase;
    /*border-radius: 50px;*/
    /*padding: 0 3% 0 3%;*/
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: black;
    color: #ffffff;
}

.tabs .tab a {
    color: black;
    display: block;
    width: 75%;
    height: 38px;
    padding: 0;
    font-size: 14px;
    /*line-height: 0.2em;*/
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
    /*border-radius: 50px;*/
    border: 2px solid;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    margin: 0 1% 0 1%;
    background-color: transparent;
    will-change: left, right;
    border-radius: 90px;
}


/*css for services structure*/

.sideborder {
    /*border-right: 0.01rem solid grey;*/
    /*margin: 0 2px 2px 2px;*/
    margin-bottom: 2%;
    border-right: 0.01rem solid grey;
    height: 110px;
    padding-top: 1%;
}

@media only screen and (max-width:600px) {
    .sideborder {
        /*border-right: 0.01rem solid grey;*/
        margin: 0 2% 2% 2%;
        /*margin: 3%;*/
        border: 0.01rem solid grey;
        height: 150px;
        padding-top: 1%;
    }
    .tabs .tab a {
        color: black;
        display: block;
        width: 100%;
        height: 38px;
        padding: 0;
        font-size: 14px;
        /*line-height: 0.2em;*/
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color .28s ease;
        /*border-radius: 50px;*/
        border: 2px solid;
    }
}

@media only screen and (max-width:992px) {
    .sideborder {
        /*border-right: 0.01rem solid grey;*/
        margin: 0 2% 2% 2%;
        /*margin: 3%;*/
        border: 0.01rem solid grey;
        height: 138px;
        padding-top: 1%;
    }
    .tabs .tab a {
        color: black;
        display: block;
        width: 100%;
        height: 38px;
        padding: 0;
        font-size: 14px;
        /*line-height: 0.2em;*/
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color .28s ease;
        /*border-radius: 50px;*/
        border: 2px solid;
    }
}


/*for arrow button div over slider start*/

#btnSideSlider {
    position: absolute;
    z-index: 2;
    bottom: 45%;
}

.leftclick,
.rightclick {
    cursor: pointer;
}

.slider.fullscreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*for content after slider*/

main {
    top: 100%;
    position: absolute;
    width: 100%;
}

.carousel {
    overflow: visible;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.carousel .carousel-item {
    display: none;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1 !important;
}

.carousel .carousel-item>img {
    width: 100%;
}

.carousel.carousel-slider .carousel-item {
    width: 500px;
    height: 800px;
    min-height: 800px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-item .card-border {
    border-radius: 20px;
}

#partners .carousel {
    overflow: visible;
    position: relative;
    width: 100%;
    height: 200px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

#partners .carousel .carousel-item {
    display: none;
    width: 205px;
    height: 150px;
    position: absolute;
    top: 8%;
    left: 0;
    opacity: 1 !important;
}

#partners .carousel .carousel-item>img {
    width: 100%;
}

#partners .carousel.carousel-slider .carousel-item {
    width: 200px;
    height: 100px;
    min-height: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

#partners .card {
    height: 100px;
    width: 200px;
    box-shadow: none;
}


/*css for home page  end*/


/*css for services page start*/

.responsive-img {
    /*height: 80% !important;*/
    /*position: relative;*/
}


/*.sectionDiv {
            margin-bottom: 0;
        }*/

.blur {
    position: absolute;
    margin-top: 10%;
    margin-left: 8%;
    width: 45%;
    padding: 5%;
    /*default fallback */
    background: rgb(255, 255, 255) transparent;
    /* nice browsers */
    background: rgba(255, 255, 255, 0.9);
}

.ourApproach {
    height: 400px !important;
}

@media only screen and (max-width:600px) {
    .zoomin img {
        /*margin-top: 20% !important;*/
        height: 100%;
        width: 100%;
        /*-webkit-transition: all 2s ease;*/
        /*-moz-transition: all 2s ease;*/
        /*-ms-transition: all 2s ease;*/
        /*transition: all 2s ease;*/
        position: relative !important;
    }
    .ourApproach {
        min-height: 600px !important;
    }
    .blur {
        /*transform: translate(0, -50%);*/
        position: relative !important;
        margin-top: 12;
        margin-left: 8%;
        width: 80%;
        padding: 5%;
        /* default fallback */
        background: rgb(255, 255, 255) transparent;
        /* nice browsers */
        background: rgba(255, 255, 255, 0.9);
    }
}

@media only screen and (max-width:992px) {
    .zoomin img {
        margin-top: 5%;
        height: 100%;
        width: 100%;
        /*-webkit-transition: all 2s ease;*/
        /*-moz-transition: all 2s ease;*/
        /*-ms-transition: all 2s ease;*/
        /*transition: all 2s ease;*/
        pointer-events: relative !important;
    }
    .blur {
        position: relative !important;
        margin-top: 12%;
        margin-left: 8%;
        width: 80%;
        padding: 5%;
        /* default fallback */
        background: rgb(229, 204, 255) transparent;
        /* nice browsers */
        background: rgba(229, 204, 255, 0.4);
    }
    /*.ourApproach {
                height: 430px !important;
            }*/
    .snip1482 {
        font-family: 'Fauna One', Arial, sans-serif;
        position: relative;
        float: left;
        margin: 10px 20px;
        min-width: 230px;
        max-width: 295px;
        min-height: 220px;
        width: 100%;
        color: #ffffff;
        text-align: right;
        line-height: 1.4em;
        background-color: #1a1a1a;
        font-size: 16px;
    }
    .snip1482 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    .snip1482 img {
        position: absolute;
        right: 0%;
        top: 50%;
        opacity: 1;
        width: 100%;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }
    .snip1482 figcaption {
        font-size: 12px;
        position: absolute;
        width: 50%;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 20px 0 20px 20px;
    }
    .snip1482 h6,
    .snip1482 p {
        margin: 0;
        width: 100%;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }
    .snip1482 h6 {
        font-family: 'Playfair Display', Arial, sans-serif;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .snip1482 p {
        font-size: 0.9em;
    }
    .snip1482 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .snip1482 img,
    .snip1482 img {
        width: 55%;
        right: -10%;
    }
    .snip1482 h6,
    .snip1482 h6,
    .snip1482 p,
    .snip1482 figcaption p {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}


/*for features in mobile*/

@media only screen and (min-width:993px) {
    .snip1482 {
        font-family: 'Fauna One', Arial, sans-serif;
        position: relative;
        float: left;
        margin: 10px 20px;
        min-width: 430px;
        max-width: 475px;
        min-height: 380px;
        width: 100%;
        color: #ffffff;
        text-align: right;
        line-height: 1.4em;
        background-color: #1a1a1a;
        font-size: 16px;
    }
    .snip1482 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    .snip1482 img {
        position: absolute;
        right: 0%;
        top: 50%;
        opacity: 1;
        width: 100%;
        -webkit-transform: translate(0%, -50%);
        transform: translate(-30%, -50%);
    }
    .snip1482 figcaption {
        position: absolute;
        width: 68%;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 20px 0 20px 20px;
    }
    .snip1482 h6,
    .snip1482 p {
        margin: 0;
        width: 100%;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }
    .snip1482 h6 {
        font-family: 'Playfair Display', Arial, sans-serif;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .snip1482 p {
        font-size: 0.8em;
    }
    .snip1482 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .snip1482 img,
    .snip1482 img {
        width: 65%;
        right: -60%;
    }
    .snip1482 h6,
    .snip1482 h6,
    .snip1482 p,
    .snip1482 figcaption p {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

.black darken-5 {
    background-color: #1a1a1a !important;
}

.frame {
    position: relative;
    display: inline-block;
    overflow: auto;
}

.zoomin img {
    height: 100%;
    width: 100%;
    /*-webkit-transition: all 2s ease;*/
    /*-moz-transition: all 2s ease;*/
    /*-ms-transition: all 2s ease;*/
    /*transition: all 2s ease;*/
}

.zoomin img:hover {
    /*width: 101%;
            height: 100%;*/
    /*-webkit-transform: scale(1.5);*/
    /* Safari and Chrome */
    /*-moz-transform: scale(1.5);*/
    /* Firefox */
    /*-ms-transform: scale(1.5);*/
    /* IE 9 */
    /*-o-transform: scale(1.5);*/
    /* Opera */
    /*transform: scale(1.5);*/
}


/*css for services page end*/